################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/ThumbnailGenerator/bin/Debug
/ThumbnailGenerator/obj/Debug
/.vs/ThumbnailGenerator/v16
